@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.equalizer-bg {
  background: url('https://www.transparenttextures.com/patterns/dark-mosaic.png'), 
              linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  opacity: 0.3;
}
